<header>
    <div class="container"></div>
    <a href="#" class="logo">Bikram's Westeros </a>
    <nav>
        <ul>
            <li> <a href="# " routerLink="/">WinterFell</a></li>
            <li><a href="# " routerLink="/north">North of The Wall</a></li>
            <li><a href="# " routerLink="/knightKing">Lands of Always Winter</a></li>
            <li><a href="# " routerLink="/icpc">My ICPC</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>
